@page "/privacy.html"
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<hr>

<form class="bg-light p-2 m-2" method="post" asp-page="Privacy">
  <div class="form-group">
    @* <label for="userId">UserId</label> *@
    <label asp-for="@Model.UserContact.UserId"></label> @*"Your Id"*@
    @* <input type="text" class="form-control" id="userId" name="UserId"> *@
    <input class="form-control" asp-for="@Model.UserContact.UserId">
  </div>
  <div class="form-group">
    <label asp-for="UserContact.Email">Email</label>
    <input class="form-control" asp-for="@Model.UserContact.Email">
  </div>
  <div class="form-group">
    <label asp-for="UserContact.UserName">UserName</label>
    <input class="form-control" asp-for="@Model.UserContact.UserName">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="alert alert-danger">
    <p>User Info</p>
    <ul>
        <li>UserId: @Model.UserContact.UserId</li>
        <li>Email: @Model.UserContact.Email</li>
        <li>UserName: @Model.UserContact.UserName</li>
    </ul>
</div>

@section FooterContent{
    <p>This is footer of Privacy</p>
}
